name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.63ddb400-cb6f-4660-885b-6f2e7624a631}}
          heroku_app_name: "obscure-plains-82299" #Must be unique in Heroku
          heroku_email: "cfrancobedoya@gmail.com"
          usedocker: true
